{
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "plugins": ["import", "react", "react-hooks", "prettier"],
  "extends": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "experimentalObjectRestSpread ": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-anonymous-default-export": 0,
    "react-hooks/rules-of-hooks": 2,
    "comma-dangle": 0,
    "import/order": ["error", { "newlines-between": "always" }]
  }
}
