# dependencies
/node_modules

# build output
dist/
.jampack

# astro dev server state
.astro/

# misc
.DS_Store
*.pem
*.tsbuildinfo
pnpm-debug.log*

# local env files
.env*.local

# drafts
article.md
articles/
todo.md
