{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true
}
