@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-display: optional;
}

@font-face {
  font-weight: 500;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
  font-display: optional;
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
  font-display: optional;
}

:root {
  --bg: #fff;
  --text: #000;
  --textTinted: rgba(0, 0, 0, 0.5);
  --brand: #6a5acd;
  --brandActive: rgb(106, 90, 205, 0.9);
  --brandTinted: rgb(106, 90, 205, 0.7);
  --brandTintedActive: rgb(106, 90, 205, 0.65);
  --headerBg: rgba(255, 255, 255, 0.6);
  --border: rgba(0, 0, 0, 0.08);
  --borderActive: rgba(0, 0, 0, 0.25);
  --star: #fece02;
  --fontFamily: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --boxBg: #f3f3f3;
  --siteWidth: 83ch;
  --inputBg: white;
  --likeButton: rgba(0, 0, 0, 0.05);
  --likeButtonHover: rgba(0, 0, 0, 0.1);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --secondary: #caca28;
  --transparent: rgba(255, 255, 255, 0);
}

[data-theme='dark'] {
  --bg: #161515;
  --text: #fff;
  --textTinted: rgba(255, 255, 255, 0.5);
  --headerBg: rgba(22, 21, 21, 0.6);
  --border: rgba(255, 255, 255, 0.08);
  --borderActive: rgba(255, 255, 255, 0.25);
  --boxBg: #1f1e1d;
  --star: #fef102;
  --inputBg: #292929;
  --likeButton: rgba(255, 255, 255, 0.2);
  --likeButtonHover: rgba(255, 255, 255, 0.3);
  --secondary: yellow;
  --transparent: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: rgb(106, 90, 205, 0.65), rgb(106, 90, 205, 0.8);
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(106, 90, 205, 0.45);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(106, 90, 205, 0.9);
    border-radius: 14px;
    border: rgb(106, 90, 205, 0.9);
  }
}

::selection {
  background-color: var(--brandTintedActive);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

h2 {
  margin-top: 18px;
  font-weight: 800;
  font-size: 28px;
  // letter-spacing: -0.3px;

  // @media (min-width: 480px) {
  //   margin-bottom: 55px;
  // }
}

img {
  display: block;
  max-width: 100%;
  margin: 0rem auto;
  border-radius: 0.3rem;
}

blockquote {
  border-left: 3px solid #6a5acd;
  font-style: inherit;
  background-color: #6a5acd;
  margin: 0.5rem;
  padding: 0.55rem;
  border-radius: 0.2rem;

  p {
    color: #fff;
    font-weight: 600;
  }

  a {
    color: #fff;
    font-weight: 600;
  }

  a:hover {
    color: #fff;
    font-weight: 600;
    // text-decoration: none;
  }
}

ul {
  color: rgba(0, 0, 0, 0.8);
}
li {
  margin-bottom: 0.5rem;
}
table {
  margin: 1.75rem auto;
}
th,
td {
  padding: 0 2rem 0.5rem 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  margin-top: 1rem;
  // margin-bottom: 0.75rem;
}

.gatsby-highlight {
  position: relative;

  -webkit-overflow-scrolling: touch;
}

/*
 * Hopscotch
 * by Jan T. Sott
 * https://github.com/idleberg/Hopscotch
 *
 * This work is licensed under the Creative Commons CC0 1.0 Universal License
 */

code[class*='language-'],
pre[class*='language-'] {
  border-radius: 0.3rem;
  color: #fff;
  font-size: 14px;
  font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', Courier,
    monospace;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #322941;

  @media (min-width: 480px) {
    font-size: 15px;
  }
}

pre > code[class*='language-'] {
  font-size: 1em;
}

/* Code blocks */
pre[class*='language-'] {
  margin: 0.5em 0;
  padding: 0.5em;
  overflow: auto;
}

pre[class*='language-']:before {
  background: white;
  border-radius: 0.25rem 0 0 0.25rem;
  color: black;
  font-size: 10px;
  -webkit-letter-spacing: 0.025rem;
  -moz-letter-spacing: 0.025rem;
  -ms-letter-spacing: 0.025rem;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  bottom: 1rem;
  right: 0;
}

pre[class*='language-js']:before {
  content: 'js';
  background-color: #ffcc00;
  color: black;
}
pre[class*='language-jsx']:before {
  content: 'jsx';
  background: #61dafb;
  color: black;
}
pre[class*='language-ts']:before {
  content: 'ts';
  background: #61dafb;
  color: black;
}
pre[class*='language-tsx']:before {
  content: 'tsx';
  background: #61dafb;
  color: black;
}
pre[class*='language-html']:before {
  content: 'html';
  background: #f037a5;
  color: white;
}
pre[class*='language-xml']:before {
  content: 'xml';
  background: #57cc99;
  color: white;
}
pre[class*='language-svg']:before {
  content: 'svg';
  background: #610094;
  color: white;
}
pre[class*='language-graphql']:before {
  content: 'GraphQL';
  background: #e10098;
  color: white;
}
pre[class*='language-css']:before {
  content: 'css';
  background: #ff9800;
  color: black;
}
// pre[class*='language-mdx']:before {
//   content: 'mdx';
//   background: #f9ac00;
//   color: black;
// }
pre[class*='language-text']:before {
  content: 'text';
}
pre[class*='language-shell']:before {
  content: 'shell';
}
pre[class*='language-sh']:before {
  content: 'sh';
}
pre[class*='language-bash']:before {
  content: 'bash';
}
pre[class*='language-yaml']:before {
  content: 'yaml';
  background: #b97a95;
}
pre[class*='language-yml']:before {
  content: 'yml';
  background: #b97a95;
}
pre[class*='language-markdown']:before {
  content: 'md';
}
pre[class*='language-json']:before,
pre[class*='language-json5']:before {
  content: 'json';
  background: linen;
}
pre[class*='language-diff']:before {
  content: 'diff';
  background: #e6ffed;
}
pre[class*='language-c']:before {
  content: 'c';
  background: #408ef5;
  color: black;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #797379;
}

.token.punctuation {
  color: #b9b5b8;
}

.namespace {
  opacity: 0.7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #fd8b19;
}

.token.property {
  color: #fdcc59;
}

.token.tag {
  color: #1290bf;
}

.token.string {
  color: #149b93;
}

.token.selector {
  color: #c85e7c;
}

.token.attr-name {
  color: #fd8b19;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #149b93;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #8fc13e;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #149b93;
}

.token.placeholder,
.token.variable {
  color: #1290bf;
}

.token.important {
  color: #dd464c;
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid red;
  outline-offset: 0.4em;
}

.remark-code-title {
  padding: 12px 25px;
  font-weight: 600;
  font-size: 14px;
  font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', Courier,
    monospace;
  background-color: var(--boxBg);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

article .remark-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// .mdx-marker {
//   position: relative;
//   margin-right: -25px;
//   margin-left: -25px;
//   padding-left: 25px;
//   background-color: var(--brandTinted);

//   &:before {
//     position: absolute;
//     left: 0;
//     width: 4px;
//     height: 100%;
//     background-color: var(--brand);
//     content: '';
//   }
// }

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.infoContainer {
  font-size: 1.15rem;

  a {
    font-weight: 600;
    color: var(--brandActive);
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--brandTintedActive);
  }

  a:hover {
    font-weight: 600;
    background: var(--brand);
    color: var(--bg);
    border-top: 2px solid var(--brand);
    border-bottom: 2px solid var(--brand);
  }

  a.button {
    display: block;
    border: 1px solid var(--brand) !important;
    background: var(--brand);
    color: var(--bg);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }

  a.button:hover {
    filter: brightness(1.1);
  }
}

.tagButton {
  font-weight: 600;
  font-size: 18px;
  color: var(--brandActive);
  padding: 2px;
  // border-top: 2px solid transparent;
  // border-bottom: 2px solid var(--brandTintedActive);
  text-decoration: none;

  &:hover {
    text-decoration: none;
    font-weight: 600;
    background: var(--brand);
    color: var(--bg);
  }
}

.blogContainer {
  // max-width: var(--siteWidth);
  // margin: 0 auto;

  @media (min-width: 480px) {
    padding: 0 30px;
  }

  .input {
    width: 100%;
    padding: 8px 12px;
    color: var(--text);
    font-size: 17px;
    font-family: var(--fontFamily);
    background-color: var(--bg);
    background-color: var(--inputBg);
    border: 1px solid var(--brand);
    border-radius: 6px;
    -webkit-appearance: none;
    margin-bottom: 18px;
  }
}

.postLayout {
  overflow: auto;

  img {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  h1 {
    margin: 0rem;
    font-size: 2.5rem;
    line-height: 1.1;

    @media (max-width: 750px) {
      font-size: 1.75rem;
      line-height: 1.3;
    }
  }

  p {
    font-family: inherit;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    margin-top: 0.75rem;
    // margin-bottom: 0.75rem;
  }

  blockquote {
    border-left: 3px solid #6a5acd;
    font-style: inherit;
    background-color: #6a5acd;
    margin: 0.5rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    padding: 0.55rem;
    border-radius: 0.2rem;

    p {
      color: #fff;
      font-weight: 600;
    }

    a {
      color: #fff;
      font-weight: 600;
    }

    a:hover {
      color: #fff;
      font-weight: 600;
      // text-decoration: none;
    }
  }
}

.postMetaWrapper {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.postBodyWrapper {
  margin: 2.25rem 0rem;
  font-size: 1.15rem;

  a {
    font-weight: 600;
    color: var(--brandActive);
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--brandTintedActive);
  }

  a:hover {
    font-weight: 600;
    background: var(--brand);
    color: var(--bg);
    border-top: 2px solid var(--brand);
    border-bottom: 2px solid var(--brand);
  }
}

.twitter-tweet {
  margin: 0 auto;
}

.postFooterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.linkButton {
  font-weight: 600;
  color: var(--brandActive);

  &:hover {
    font-weight: 600;
    background: var(--brandTintedActive);
    color: var(--bg);
    // border-top: 1px solid var(--brandTintedActive);
    // border-bottom: 1px solid var(--brandTintedActive);
  }
}

.newsletter {
  border: 5px solid var(--brandTintedActive);
  border-radius: 0.3rem;
  margin-bottom: 20px;
  padding: 10px;
  background: var(--shadow);
  width: var(--siteWidth);
  p {
    // color: var(--brandActive);
    font-size: 20px;
  }

  .heroButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .button {
    display: block;
    border: 1px solid var(--brand) !important;
    background: var(--brand);
    color: var(--bg);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }

  &:hover {
    filter: brightness(1.1);
  }
}
