.container {
  max-width: var(--siteWidth);
  margin: 0 auto;

  @media (min-width: 480px) {
    padding: 0 30px;
  }
}

.list {
  margin: 0;
  border-bottom: 1px dashed var(--brandTintedActive);
  padding: 0;
  list-style: none;

  li {
    flex-direction: row;
    margin-bottom: 0;
    color: var(--textTinted);
    font-weight: 500;
    transition: color 0.2s ease-out;
  }

  a {
    display: block;
    padding: 10px;
  }

  a:hover {
    border-radius: 0.3rem;
    background: var(--brandTintedActive);
    filter: brightness(1.2);
  }
}

.title {
  display: block;
  margin-bottom: 10px;
  color: var(--text);
  font-weight: 700;
  font-size: 14px;

  @media (min-width: 480px) {
    font-size: 18px;
  }
}

.summary {
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.7;

  @media (min-width: 480px) {
    font-size: 18px;
  }
}

.meta {
  display: block;
  font-size: 0.95em;
  opacity: 0.75;
}

.noResults {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

.datetime {
  font-size: 0.95em;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
