.layoutContainer {
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 2.5rem;
}

.layoutContent {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  max-width: 800px;
  justify-self: center;
  padding: 0rem 1.25rem;
}
