<a
  href="https://www.buymeacoffee.com/TFgf99uBC6"
  target="_blank"
  rel="noreferrer"
  class="bmc-link"
  aria-label="Buy me a coffee"
>
  <img
    src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
    alt="Buy Me A Coffee"
    class="bmc-img"
  />
</a>

<style>
  .bmc-link {
    @apply inline-flex overflow-hidden rounded-full transition-opacity hover:opacity-80;
    height: 40px;
  }
  .bmc-img {
    height: 40px;
    width: auto;
  }
</style>
