---
import Hr from './Hr.astro';
import Socials from './Socials.astro';
import { SITE } from '@config';

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
const siteUrl = encodeURIComponent(SITE.website);
---

<footer class={`${noMarginTop ? '' : 'mt-auto'}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper opacity-80 text-sm">
      <div>
        <span>Copyright &#169; 2019 - {currentYear} Aman Mittal</span>
        <span class="separator">&nbsp;|&nbsp;</span>
        <span
          >Licensed under <a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
            target="_blank"
            class="text-decoration-line: underline">CC BY-NC-ND 4.0</a
          >.</span
        >
      </div>
    </div>
  </div>
</footer>

<div class="webring-small" aria-label="Tech writing blog webring">
  <a class="webring-arrow" href={`https://caseyrfsmith.github.io/webring/navigate.html?action=prev&site=${siteUrl}`}>&#8592;</a>
  <a class="webring-title" href="https://caseyrfsmith.github.io/webring/">Tech writing blog webring</a>
  <a class="webring-arrow" href={`https://caseyrfsmith.github.io/webring/navigate.html?action=next&site=${siteUrl}`}>&#8594;</a>
</div>
<div class="webring-small" aria-label="Static.Quest webring">
  <a class="webring-arrow" href="https://static.quest/previous/?host=static.quest">&#8592;</a>
  <a class="webring-title" href="https://static.quest">Static.Quest webring</a>
  <a class="webring-arrow" href="https://static.quest/next/?host=static.quest">&#8594;</a>
</div>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
  .webring-small {
    @apply mt-3 mb-8 flex items-center justify-center gap-3 text-xs font-normal tracking-tight text-neutral-700 opacity-80 dark:text-neutral-200;
  }
  .webring-title {
    @apply underline decoration-1 underline-offset-4;
  }
  .webring-arrow {
    @apply text-base no-underline;
  }
</style>
