---
export interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
const SUPPORT_URL = 'https://github.com/sponsors/amandeepmittal';
---

<a
  href={SUPPORT_URL}
  target="_blank"
  rel="noreferrer"
  class={`support-link focus-outline ${className}`.trim()}
  aria-label="Support me on GitHub Sponsors"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5z"
      fill="currentColor"
    />
  </svg>
  <span>Sponsor</span>
</a>

<style>
  .support-link {
    @apply inline-flex items-center gap-2 whitespace-nowrap rounded-full px-6 font-semibold transition-opacity hover:opacity-80;
    background-color: #EA4AAA;
    color: #fff;
    height: 40px;
    font-size: 15px;
  }

  .support-link svg {
    @apply h-4 w-4 fill-current;
  }
</style>
