---
export interface Props {
  tag: string;
  size?: 'sm' | 'lg';
  count?: number;
}

const { tag, size = 'sm', count } = Astro.props;
---

<li
  class={`inline-block ${
    size === 'sm' ? 'my-1 underline-offset-4' : 'my-3 mx-1 underline-offset-8'
  }`}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`${size === 'sm' ? 'text-sm' : 'text-lg'} pr-2 group`}
  >
    #<span>{tag}</span>
    {typeof count === 'number' && <span class="count"> ({count})</span>}
  </a>

  <style>
    a {
      @apply relative underline decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
    }
    a svg {
      @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
    }
    .count {
      @apply text-xs align-baseline opacity-75;
    }
  </style>
</li>
