---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`Links | ${SITE.title}`}>
  <Header />
  <main id="main-content">
  <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 aria-label="All links">All links</h1>
      <p>Places to find me on the internet:</p>
      <ul>
      <li>
      <LinkButton
        href="https://github.com/amandeepmittal"
        className="text-lg underline decoration-dashed underline-offset-8"
      >

        GitHub
      </LinkButton>
      </li>
      <li>
      <LinkButton
        href="https://x.com/amanhimself"
        className="text-lg underline decoration-dashed underline-offset-8"
      >
        Twitter
      </LinkButton>
      </li>
      <li>
      <LinkButton
        href="https://www.linkedin.com/in/aman-mittal-05a239117/"
        className="text-lg underline decoration-dashed underline-offset-8"
      >
        LinkedIn
      </LinkButton>
      </li>
      <li>
      <LinkButton
        href="https://www.goodreads.com/author/show/17657541.Aman_Mittal"
        className="text-lg underline decoration-dashed underline-offset-8"
      >
        Goodreads
      </LinkButton>
      </li>
      <li>
      <LinkButton
        href="https://bsky.app/profile/amanhimself"
        className="text-lg underline decoration-dashed underline-offset-8"
      >
        BlueSky
      </LinkButton>
      </li>
      <li>
      <LinkButton
        href="https://medium.com/@amanhimself"
        className="text-lg underline decoration-dashed underline-offset-8"
      >
        Medium
      </LinkButton>
      </li>
      <li>
      <LinkButton
        href="https://dev.to/amanhimself"
        className="text-lg underline decoration-dashed underline-offset-8"
      >
        Dev.to
      </LinkButton>
      </li>
    </ul>
  </section>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 mt-4;
  }
</style>
